In [1]:
%%bash
which conda  # where the executable conda is in my path?
conda -V     # which version of conda?
which python # where the executable python is in my path?
python -V    # what version of python?

/Users/samuelvarghese/miniforge3/condabin/conda
conda 4.13.0
/Users/samuelvarghese/miniforge3/envs/capstone/bin/python
Python 3.9.15

At line 281837, the rows look like they repeat the first 281837 lines.  The chunk number is again 0.  From line 281837 onwards, the chunk numbers continue to increment until the EOF.
I spot checked 3 lines starting at 281837 and in fact they are identical to lines 1-3.  Therefore, I decided to delete the first 281837 lines.

In [5]:
import pandas as pd
pd.set_option('display.max_columns', None)

ner = pd.read_csv("data/ner.csv")
ner.describe()

       chunk_number   sentence_idx
count  7.689600e+05  768959.000000
mean   5.158803e+05   23580.031367
std    3.497276e+05   15986.756808
min    0.000000e+00       1.000000
25%    1.922398e+05    8806.000000
50%    3.844795e+05   17579.000000
75%    8.563342e+05   39134.500000
max    1.048574e+06   47959.000000

There are 1,048,574 chunks in the data.  The ner_dataset.csv has 1,048,575 lines.  I deleted the 1,048,575 line even though there was some data located on the line.
May need to re-add the line.

In [6]:
ner.head()

,chunk_number,lemma,next-lemma,next-next-lemma,next-next-pos,next-next-shape,next-next-word,next-pos,next-shape,next-word,pos,prev-iob,prev-lemma,prev-pos,prev-prev-iob,prev-prev-lemma,prev-prev-pos,prev-prev-shape,prev-prev-word,prev-shape,prev-word,sentence_idx,shape,word,tag
0,0,thousand,of,demonstr,NNS,lowercase,demonstrators,IN,lowercase,of,NNS,__START1__,__start1__,__START1__,__START2__,__start2__,__START2__,wildcard,__START2__,wildcard,__START1__,1.0,capitalized,Thousands,O
1,1,of,demonstr,have,VBP,lowercase,have,NNS,lowercase,demonstrators,IN,O,thousand,NNS,__START1__,__start1__,__START1__,wildcard,__START1__,capitalized,Thousands,1.0,lowercase,of,O
2,2,demonstr,have,march,VBN,lowercase,marched,VBP,lowercase,have,NNS,O,of,IN,O,thousand,NNS,capitalized,Thousands,lowercase,of,1.0,lowercase,demonstrators,O
3,3,have,march,through,IN,lowercase,through,VBN,lowercase,marched,VBP,O,demonstr,NNS,O,of,IN,lowercase,of,lowercase,demonstrators,1.0,lowercase,have,O
4,4,march,through,london,NNP,capitalized,London,IN,lowercase,through,VBN,O,have,VBP,O,demonstr,NNS,lowercase,demonstrators,lowercase,have,1.0,lowercase,marched,O

As you can see, the ner data provides context to each word (entity) captured in the ner_dataset file.  It generates lemma information, next / previous words, shape, tag etc.

In [8]:
ner.isnull().sum(axis=0)

chunk_number       0
lemma              0
next-lemma         0
next-next-lemma    0
next-next-pos      0
next-next-shape    0
next-next-word     0
next-pos           0
next-shape         1
next-word          1
pos                1
prev-iob           1
prev-lemma         1
prev-pos           1
prev-prev-iob      1
prev-prev-lemma    1
prev-prev-pos      1
prev-prev-shape    1
prev-prev-word     1
prev-shape         1
prev-word          1
sentence_idx       1
shape              1
word               1
tag                1
dtype: int64

In [17]:
# find the row with null values

ner[ner['prev-prev-word'].isnull()].index.tolist()

[407598]

In [19]:
# Row 407598 is bad with all the null values.  Do not understand the data completely so not sure if it is ok to simply delete this row.
ner.iloc[407598]

chunk_number        407598
lemma                domin
next-lemma         countri
next-next-lemma          .
next-next-pos            .
next-next-shape      punct
next-next-word     .nister
next-pos                 O
next-shape             NaN
next-word              NaN
pos                    NaN
prev-iob               NaN
prev-lemma             NaN
prev-pos               NaN
prev-prev-iob          NaN
prev-prev-lemma        NaN
prev-prev-pos          NaN
prev-prev-shape        NaN
prev-prev-word         NaN
prev-shape             NaN
prev-word              NaN
sentence_idx           NaN
shape                  NaN
word                   NaN
tag                    NaN
Name: 407598, dtype: object

Stopping here for now.  No idea how to leverage this chunk data until team has a better understanding of how NLP works.